@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(173, 216, 230);
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: red;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important
}